/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }

  .color-interpretation {
    color: #63498B;
  }

  .color-base {
    color: #1b75bc;
  }

  .color-measurement {
    color: #4DA8D4;
  }

  .color-genomic-vrs {
    color: #5BC4BF;
  }

  .color-pedigree {
    color: #8BC751;
  }

  .color-top-level {
    color: #faa634;
  }

  .color-medical-action {
    color: #AAAAAA;
  }
}
